/* Add your variable customizations of layout here */

/* Colors */
$blue: #01426A;
$lightblue: #0067A0;
$yellow: #FFCD00;
$lightyellow: #FBDB65;
$teal: #007B5F;
$green: #007B5F;
$lightgreen: #00B388;