$primaryColor:#01426A;
$primaryLightestColor: #0067A0;
$primaryMenuTextColor: #ffffff;
$primaryTextColor:#ffffff;
$accentColor:#007B5F;
$accentTextColor:#FFFFFF;
$tableEvenColor: #EEEEEE;

@import '../../sass/theme/theme_light';

.p-badge.p-badge-info {
    background-color: #0378d5; /* Acessibilidade: Cor alterada para constraste mínimo necessário entre background e texto */ 
}

.p-badge.p-badge-success {
    background-color: #4d841d; /* Acessibilidade: Cor alterada para constraste mínimo necessário entre background e texto */ 
}

fieldset{
    border: none;
    margin: 0 0 2rem 0;
    padding: 0;
}

