$primaryColor:#01426A;
$primaryLightestColor: #0067A0;
$primaryMenuTextColor: #ffffff;
$primaryTextColor:#ffffff;
$accentColor:#007B5F;
$accentTextColor:#FFFFFF;
$tableEvenColor: #EEEEEE;

@import '../../sass/theme/theme_light';

